@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: rgb(139, 6, 6);
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 1rem;
}

.nav-links li a {
  transition: all 0.3 ease 0;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-links li a:hover {
  color: black;
}

#about {
  max-width: 50rem;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about p {
  text-align: left;
}

img {
  max-width: 60%;
  height: auto;
}

h1 {
  font-size: 0;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 3.12rem;
  height: 3.12rem;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  color: rgb(251, 251, 251);
  font-size: 1.8rem;
  text-align: center;
  margin: 1rem 5%;
}

p,
ol {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin: 1rem 5%;
  color: white;
}

.scarlet {
  display: flex;
  width: 8rem;
  height: 1.8rem;
  border-radius: 1rem;
  margin: 2rem auto;
  background-color: rgb(139, 6, 6);
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0.4rem;
  justify-content: center;
  align-content: center;
}

ol {
  list-style-type: none;
}

#videos {
  max-width: 50rem;
  margin: 1.5rem auto;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  margin: 1.5rem;
  padding: 0.5rem;
}

footer {
  max-width: 100%;
  background-color: rgb(139, 6, 6);
  height: 3rem;
}

footer > p {
  color: white;
  margin-top: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.6rem;
  padding: 0.3rem;
}

@media only screen and (min-width: 1000px) {
  img {
    width: 50%;
  }

  #video {
    max-width: 50%;
  }

  .video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "videoFrame1 videoFrame2"
      "videoFrame3 videoFrame4";
  }

  .videoFrame1 {
    grid-area: videoFrame1;
  }

  .videoFrame2 {
    grid-area: videoFrame2;
  }

  .videoFrame3 {
    grid-area: videoFrame3;
  }

  .videoFrame4 {
    grid-area: videoFrame4;
  }
}
